/Tirsdag/es6-and-react-functional-components-and-props/node_modules
/Tirsdag/es6-and-react-functional-components-and-props/.pnp
/Tirsdag/es6-and-react-functional-components-and-props/.pnp.js
/Tirsdag/es6-and-react-functional-components-and-props/coverage
/Tirsdag/es6-and-react-functional-components-and-props/build
/Tirsdag/es6-and-react-functional-components-and-props/.DS_Store
/Tirsdag/es6-and-react-functional-components-and-props/.env.local
/Tirsdag/es6-and-react-functional-components-and-props/.env.development.local
/Tirsdag/es6-and-react-functional-components-and-props/.env.test.local
/Tirsdag/es6-and-react-functional-components-and-props/.env.production.local
/Tirsdag/es6-and-react-functional-components-and-props/npm-debug.log*
/Tirsdag/es6-and-react-functional-components-and-props/yarn-debug.log*
/Tirsdag/es6-and-react-functional-components-and-props/yarn-error.log*


/Onsdag/list-and-keys/node_modules
/Onsdag/list-and-keys/.pnp
/Onsdag/list-and-keys/.pnp.js
/Onsdag/list-and-keys/coverage
/Onsdag/list-and-keys/build
/Onsdag/list-and-keys/.DS_Store
/Onsdag/list-and-keys/.env.local
/Onsdag/list-and-keys/.env.development.local
/Onsdag/list-and-keys/.env.test.local
/Onsdag/list-and-keys/.env.production.local
/Onsdag/list-and-keys/npm-debug.log*
/Onsdag/list-and-keys/yarn-debug.log*
/Onsdag/list-and-keys/yarn-error.log*



/Onsdag/state-and-events-with-react/node_modules
/Onsdag/state-and-events-with-react/.pnp
/Onsdag/state-and-events-with-react/.pnp.js
/Onsdag/state-and-events-with-react/coverage
/Onsdag/state-and-events-with-react/build
/Onsdag/state-and-events-with-react/.DS_Store
/Onsdag/state-and-events-with-react/.env.local
/Onsdag/state-and-events-with-react/.env.development.local
/Onsdag/state-and-events-with-react/.env.test.local
/Onsdag/state-and-events-with-react/.env.production.local
/Onsdag/state-and-events-with-react/npm-debug.log*
/Onsdag/state-and-events-with-react/yarn-debug.log*
/Onsdag/state-and-events-with-react/yarn-error.log*



/Torsdag/forms-and-controlled-components/node_modules
/Torsdag/forms-and-controlled-components/.pnp
/Torsdag/forms-and-controlled-components/.pnp.js
/Torsdag/forms-and-controlled-components/coverage
/Torsdag/forms-and-controlled-components/build
/Torsdag/forms-and-controlled-components/.DS_Store
/Torsdag/forms-and-controlled-components/.env.local
/Torsdag/forms-and-controlled-components/.env.development.local
/Torsdag/forms-and-controlled-components/.env.test.local
/Torsdag/forms-and-controlled-components/.env.production.local
/Torsdag/forms-and-controlled-components/npm-debug.log*
/Torsdag/forms-and-controlled-components/yarn-debug.log*
/Torsdag/forms-and-controlled-components/yarn-error.log*



/Torsdag/lifting-state-up/node_modules
/Torsdag/lifting-state-up/.pnp
/Torsdag/lifting-state-up/.pnp.js
/Torsdag/lifting-state-up/coverage
/Torsdag/lifting-state-up/build
/Torsdag/lifting-state-up/.DS_Store
/Torsdag/lifting-state-up/.env.local
/Torsdag/lifting-state-up/.env.development.local
/Torsdag/lifting-state-up/.env.test.local
/Torsdag/lifting-state-up/.env.production.local
/Torsdag/lifting-state-up/npm-debug.log*
/Torsdag/lifting-state-up/yarn-debug.log*
/Torsdag/lifting-state-up/yarn-error.log*

/Torsdag/react-crud-rest-exercise/node_modules
/Torsdag/react-crud-rest-exercise/.pnp
/Torsdag/react-crud-rest-exercise/.pnp.js
/Torsdag/react-crud-rest-exercise/coverage
/Torsdag/react-crud-rest-exercise/build
/Torsdag/react-crud-rest-exercise/.DS_Store
/Torsdag/react-crud-rest-exercise/.env.local
/Torsdag/react-crud-rest-exercise/.env.development.local
/Torsdag/react-crud-rest-exercise/.env.test.local
/Torsdag/react-crud-rest-exercise/.env.production.local
/Torsdag/react-crud-rest-exercise/npm-debug.log*
/Torsdag/react-crud-rest-exercise/yarn-debug.log*
/Torsdag/react-crud-rest-exercise/yarn-error.log*


/Fredag/ReactStateandFetch/node_modules
/Fredag/ReactStateandFetch/.pnp
/Fredag/ReactStateandFetch/.pnp.js
/Fredag/ReactStateandFetch/coverage
/Fredag/ReactStateandFetch/build
/Fredag/ReactStateandFetch/.DS_Store
/Fredag/ReactStateandFetch/.env.local
/Fredag/ReactStateandFetch/.env.development.local
/Fredag/ReactStateandFetch/.env.test.local
/Fredag/ReactStateandFetch/.env.production.local
/Fredag/ReactStateandFetch/npm-debug.log*
/Fredag/ReactStateandFetch/yarn-debug.log*
/Fredag/ReactStateandFetch/yarn-error.log*